.notification {
  position: absolute;
  top: 66px;
  right: 50px;
  width: 250px;
  height: 45px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(125, 117, 131);
  color: white;
  box-shadow: 0px 1px 15px 2px rgb(128 126 126);
  border-radius: 6px;
}

.me-auto {
  text-decoration: underline;
}
